<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 bg-success text-center">
<img src="https://static.vecteezy.com/system/resources/thumbnails/044/771/696/small_2x/a-basket-brimming-with-vegetables-free-png.png" alt="vegetables">
        </div>
        <div class="col-md-6 p-5 d-flex flex-column justify-content-center align-items-center">
                <h1>Welcome To Cookpedia</h1>
                <p class="mt-3">Discover 100+ recipe in your hand with the best recipe.<br>Helps you to find the easiest way to cook</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <h1>About Us</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nobis vero rem asperiores dolores culpa voluptate optio blanditiis aliquid eaque impedit harum, facilis necessitatibus. Quisquam tempore incidunt distinctio reprehenderit. Ipsum.</p>
            <ul class="my-5">
                <li>Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit.  eligendi id.</li>
                <li>Quae, totam. Officia exercitationem placeat distinctio eveniet,</li>
                <li>Quis saepe repellat perspiciatis nobis voluptatem porro est sunt.</li>
                <li>Quisquam incidunt molestias magni?</li>
            </ul>
            <button class="btn btn-success">Know More About Us</button>
        </div>
        <div class="col-md-6  d-flex justify-content-center align-items-center">
            <img class="w-75" src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png" alt="cook">
        </div>
    </div>
</div>
