<div class="w-100 bg-success text-light d-flex align-items-center flex-column" style="height: 100vh;">
<div class="mt-5">
    <h4 routerLink="/admin-home"><i class="fa-solid fa-bars me-2"></i>Dashboard</h4>
    <h4 routerLink="/admin-recipe" class="mt-4"><i class="fa-solid fa-bowl-rice me-2"></i>Recipes</h4>
    <h4 routerLink="/admin-users" class="mt-4"><i class="fa-solid fa-user me-2"></i>Users</h4>
    <h4 routerLink="/admin-downloads" class="mt-4"><i class="fa-solid fa-download me-2"></i>Downloads</h4>
    <h4 routerLink="/admin-requests" class="mt-4"><i class="fa-solid fa-message me-2"></i>Requests</h4>
</div>
</div>
